.Weather {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #60808b;
  padding: 16px;
  margin: 30px auto;
  max-width: 600px;
  border-radius: 4px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  color: #0e3d48;
  font-size: 28px;
  font-weight: 100;
  line-height: 1.5;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  color: #60808b;
  font-size: 16px;
  font-weight: 100;
  line-height: 1;
  text-align: left;
  list-style: none;
}

.Weather .temperature {
  color: #0e3d48;
  font-weight: bold;
  font-size: 48px;
  line-height: 1;
  font-weight: 400;
}

.Weather .unit {
  color: #60808b;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -28px;
  margin-left: 5px;
  line-height: 1;
}
